/* 기본 레이아웃 */
body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* 메뉴바 */
.nav {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

.nav-links {
    display: flex;
    gap: 20px;
}

/* 제목 */
h1, h2 {
    color: #333;
    text-align: center;
}

/* 테이블 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* 링크 텍스트 */
a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

/* 컨테이너 레이아웃 */
.container {
    display: flex;
    gap: 40px;
}

.section {
    flex: 1;
}

/* 검색 칸 */
.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
}

.search-box button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #0056b3;
}

/* 드라이버 pg */
.rank {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 4px;
}

.driver-number {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 4px;
}

.driver-info,
.team-info,
.driver-comment {
    text-align:left;
}

/* 드라이버 상세 pg */
.driver-number2 {
    font-size: 30px;
    font-weight: bold;
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 4px;
}

.driver-team,
.driver-points {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
}

/* 기본 색 */
.podium {
    background-color: #fff3cd;
}

/* 수상 시 */
.podium-1 {
    background-color: #ffd700 !important;
}

.podium-2 {
    background-color: #c0c0c0 !important;
}

.podium-3 {
    background-color: #cd7f32 !important;
}

/* 팀 pg */
.team-comment{
    text-align:left;
}

/* 팀 상세 */
.team-points {
    font-size : 20px;
    font-weight: bold;
}

/* 서킷 pg */
.circuit-comment {
    text-align:left;
}