<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ team.TeamName }} - F1 팀 상세 정보</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="nav">
        <div class="nav-links">
            <a href="/">홈</a>
            <a href="/drivers">드라이버 목록</a>
            <a href="/teams">팀 목록</a>
            <a href="/circuits">서킷 목록</a>
            <a href="/result_add">기록 추가</a>
        </div>
    </div>

    <div class="team-header">
        <div class="team-info">
            <h1>{{ team.TeamName }}</h1>
            <p class="team-points">컨스트럭터 코멘트 : {{ team.TeamComment if team.TeamComment else ""}}</p>
            <p class="team-points">컨스트럭터 포인트: {{ team.TeamPts }}</p>
        </div>
    </div>

    <div class="drivers-section">
        <h2>소속 드라이버</h2>
        {% for driver in drivers %}
        <div class="driver-card">
            <span class="driver-number2">#{{ driver.DriverNo }} {{ driver.DriverName }}</span>
            <span class="driver-points"> {{ driver.DriverPts }} 포인트</span>
        </div>
        {% endfor %}
    </div>

    <h2>2024 시즌 경기 결과</h2>
    <table>
        <thead>
            <tr>
                <th>그랑프리</th>
                <th>드라이버</th>
                <th>순위</th>
                <th>포인트</th>
                <th>기록</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr class="{% if result.Position <= 3 %}podium podium-{{ result.Position }}{% endif %}">
                <td>
                    <a href="{{ url_for('show_results', circuit_id=result.CircuitID) }}">[R{{result.CircuitID}}] {{ result.CircuitName }}</a>
                </td>
                <td>
                    <a href="{{ url_for('driver_details', driver_no=result.DriverNo) }}">{{ result.DriverName }}</a>
                </td>
                <td> {{ 'DSQ' if result.position == 40 else 'DNF' if result.position == 30 else 'P' + result.position|string }} </td>
                <td>{{ result.Pts }}</td>
                <td>{{ 'Retire' if result.Time == 'DNF' else 'Non-Start' if result.Time == 'DNS' else 'Exclusion' if result.Time == 'DSQ' else result.Time[:12] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="margin-top: 20px; text-align: center;">
        <p>총 {{ results|length }}개의 결과</p>
        {% set podiums = results|selectattr('Position', '<=', 3)|list %}
        {% if podiums %}
        <p>시즌 포디움 횟수: {{ podiums|length }}회</p>
        {% endif %}
    </div>
</body>
</html>